INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/guestrace
src/trace_syscalls.o
src/functions_windows.o
src/functions_linux.o
stamp-h1
config.h.in~
gtk-doc.make
libguestrace-0.0.pc
m4/
src/.libs/
src/functions-linux.lo
src/functions-linux.o
src/functions-windows.lo
src/functions-windows.o
src/generated-linux.o
src/generated-windows-old.c
src/generated-windows.o
src/guestrace.o
src/libguestrace-0.0.la
src/trace-syscalls.lo
src/trace-syscalls.o
